.myUl{
    width: 50%;
    margin: auto;
}

.myTasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px 0px;
    font-size: 22px;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .taskDone{
   text-decoration: line-through #fadd8b;
  }
  
  .delete, .done{
    margin-left: 2px;
  }
  
  .done:hover{
    transform: scale(1.1);
    color: #fadd8b;
  }
  
  .delete:hover{
    transform: scale(1.1);
    color: #d14c18;
  }